@font-face {
	font-family: Poppins;
	src: url(/Poppins-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(/Roboto-Regular.ttf);
}

@font-face {
	font-family: Poppins-Medium;
	src: url(/Poppins-Medium.ttf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(/Poppins-SemiBold.ttf);
}

:root {
	--body: #f2f2f6;
	--blue: #2f80ed;
	--blue-light: #cbdbf4;
	--grey: #bdbdbd;
	--grey-light: #e5e5e5;
	--disabled-grey-text: #828282;
	--white: #ffffff;
	--primary-text: #051124;
	--card-bg: #fafafa;
	--hint-yellow: #fcf1d0;
	--black: #000000;
	--green: #27ae60;
	--yellow: #f2c94c;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--body);
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
}

* {
	margin: 0px;
	padding: 0px;
}

button {
	outline: none;
	border: none;
	font-family: Poppins;
}

nav {
	width: 100%;
	height: auto;
	background-color: #f7f7f7;
	/* padding: 16px 0px; */
	margin-bottom: 40px;
}

.logo {
	font-size: 18px;
	font-weight: 700;
	grid-column: col-start / span 2;
	cursor: default;
	margin-top: 0.51rem;
	margin-bottom: 0.51rem;
}

.menu-items {
	display: flex;
	align-items: center;
	position: relative;
	/* grid-column: col-start 3 / span 10; */
	/* text-align: right; */
}

.menu-items a {
	text-decoration: none;
	margin: 0px 16px;
}

.active {
	margin-top: 1.1rem;
	font-size: 14px;
	/* line-height: 17px; */
	color: var(--primary-text);
	text-decoration: none;
	border-bottom: 2px solid var(--primary-text);
	padding-bottom: 16px;
}

.inactive {
	font-size: 14px;
	line-height: 23px;
	color: var(--black);
	opacity: 0.54;
}

h2 {
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 51px;
	color: var(--primary-text);
	padding: 0px;
	margin: 0px;
	padding-bottom: 1rem;
}

h4 {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	color: var(--black);
	opacity: 0.54;
}

.navigation {
	width: 100%;
	height: auto;
	background-color: var(--white);
	padding: 16px 0px;
	margin-bottom: 40px;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	/* grid-column-gap: 16px; */
	gap: 16px;
	width: 1200px;
	margin: 0 auto;
	padding: 0px 8px;
}

.logo {
	grid-column: col-start / span 2;
}

/* .menu-items {
	grid-column: col-start 3 / span 10;
	text-align: right;
}

.menu-items a {
	text-decoration: none;
	margin-right: 16px;
} */

/* .active {
	font-size: 14px;
	line-height: 17px;
	color: var(--primary-text);
	text-decoration: none;
	border-bottom: 2px solid var(--primary-text);
	padding-bottom: 16px;
}

.inactive {
	font-size: 14px;
	line-height: 23px;
	color: var(--black);
	opacity: 0.54;
} */

.page-title {
	font-family: Poppins-Medium;
	grid-column: col-start 1 / span 12;
	/* Dashboard */
	font-weight: 600;
	font-size: 32px;
	line-height: 51px;
	color: var(--primary-text);
	margin-bottom: 1rem;
}

.page-subtitle {
	grid-column: col-start 1 / span 12;
	/* 0 test created */
	font-size: 20px;
	line-height: 32px;
	color: var(--black);
	margin-bottom: 40px;
}

.create-test-button {
	display: inline-grid;
	grid-column: col-start 1 / span 3;
	align-items: center;
	height: 158px;
	background: var(--card-bg);
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}

.create-test-button:hover {
	box-shadow: 0px 16px 40px rgba(8, 25, 53, 0.2);
}

.create-test-button img {
	bottom: 2px;
	position: relative;
}

.button-add-large {
	margin: 0 auto;
	/*margin-bottom: 8px;*/
	padding: 16px;
	width: 16px;
	height: 16px;
	background: var(--blue-light);
	box-shadow: 0px 4px 40px rgba(8, 25, 53, 0.04);
	border-radius: 8px;
}

.button-primary-enabled {
	background: #2f80ed;
	/*box-shadow: inset 0px 0px 0px 1px var(--white);*/
	border-radius: 4px;
	border: 0;
	font-family: Poppins;
	font-weight: 600;
	color: #ffffff;
	padding: 12px 24px;
	cursor: pointer;
}

.button-primary-text {
	margin-top: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--blue);
	font-family: Poppins-Medium;
	font-size: 14px;
	line-height: 17px;
	background: transparent;
	border: 0;
	cursor: pointer;
}

.button-primary-text a:hover {
	text-decoration: underline;
}

.test-item {
	display: inline-grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-row-gap: 8px;
	grid-column: span 3;
	height: 126px;
	background: var(--card-bg);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	padding: 16px;
	cursor: pointer;
}

.test-item:hover {
	box-shadow: 0px 16px 40px rgba(8, 25, 53, 0.2);
}

.test-title {
	grid-row: span 1;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: var(--primary-text);
}

.response-count {
	grid-row: span 2;
	font-family: rb-r;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: var(--primary-text);
	opacity: 0.87;
}

.date-status {
	grid-row: 3 / 4;
	/* grid-row: span 1; */
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.date {
	grid-column: span 1;
	font-family: rb-r;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #051124;
	opacity: 0.87;
}

.status {
	grid-column: span 1;
	text-align: right;
}

.status-green {
	/* Shape */
	width: 26%;
	padding: 4px 8px;
	border-radius: 4px;
	background: var(--green);
	float: right;
	/* Active */
	font-family: rb-m;
	font-style: normal;
	font-size: 12px;
	line-height: 14px;
	color: var(--white);
}

.status-grey {
	/* Shape */
	width: 46%;
	padding: 4px 8px;
	border-radius: 4px;
	background: var(--grey);
	float: right;
	/* Active */
	font-family: rb-m;
	font-style: normal;
	font-size: 12px;
	line-height: 14px;
	color: var(--primary-text);
}

.card {
	/* Form container */
	grid-column: 3 / span 8;
	background: var(--card-bg);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	padding: 40px;
}

.subtitle-row {
	display: grid;
	grid-template-columns: repeat(4, [col-start] 1fr);
}

.subtitle {
	grid-column: 1 / span 3;
}

.ques-number {
	text-align: right;
	grid-column: 4 / span 1;
}

.ques-counter {
	padding: 8px 16px;
	background: var(--yellow);
	border-radius: 4px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: var(--primary-text);
}

.card h4 {
	margin-bottom: 1.8rem;
	grid-column: 3 / span 8;
}

.card input {
	width: 100%;
	box-shadow: none;
	outline: none;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	/* font-weight: 600; */
	line-height: 29px;
	font-family: Poppins;
	font-style: normal;
}

#title {
	font-size: 24px;
	font-weight: 600;
	font-family: Poppins;
	font-style: normal;
}

.card input:focus {
	outline: none;
	border: 2px solid var(--blue);
}

.card textarea {
	width: 100%;
	box-shadow: none;
	outline: none;
	resize: none;
	background: #f2f2f6;
	border: 2px solid #2f80ed;
	box-sizing: border-box;
	border-radius: 4px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	color: var(--primary-text);
}

.input-large {
	border: 2px solid transparent;
	background: var(--body);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 16px;
}

.input-normal {
	appearance: none;
	padding: 16px;
	border: 1px solid var(--grey);
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 8px;
	background-color: transparent;
}

.hint-yellow {
	display: flex;
	margin-top: 8px;
	/* display: block; */
	width: auto;
	padding: 16px;
	background: var(--hint-yellow);
	border-radius: 4px;
	margin-bottom: 24px;
}

.hint-yellow p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: var(--primary-text);
	margin-left: 1rem;
}

.buttons-row {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(2, [col-start] 1fr);
	align-items: center;
	grid-column-gap: 16px;
}

.button-left {
	grid-column: 1 / span 1;
}

.buttons-left .button-text {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	text-decoration-line: none;
	color: var(--primary-text);
	background: none;
	border: none;
	cursor: pointer;
}

.buttons-right {
	grid-column: 2 / span 1;
	text-align: right;
}

.buttons-right button {
	margin-left: 1rem;
}

.button-primary {
	padding: 12px 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	background: var(--blue);
	color: var(--white);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	text-align: center;
	border: none;
	cursor: pointer;
}

.button-primary-disabled {
	padding: 12px 24px;
	font-family: Poppins;
	background: var(--grey);
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: var(--disabled-grey-text);
	border: none;
}

.button-secondary {
	box-shadow: inset 0px 0px 0px 1px var(--grey);
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	color: var(--primary-text);
	cursor: pointer;
}

.button-secondary-disabled {
	box-shadow: inset 0px 0px 0px 1px var(--grey);
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	background-color: transparent;
	color: var(--disabled-grey-text);
}

/* .buttons-right button:nth-child(1) {
	margin-right: 8px;
} */

.mcq-options-container {
	margin-top: 16px;
}

.mcq-option-area {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	border: 1px solid #ececec;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 8px;
	margin-top: 8px;
}

.mcq-option-area input {
	grid-column: 1 / span 9;
	border: none;
	padding: 8px;
	background-color: transparent;
	/* margin-right: 5rem; */
}

.mcq-option-area input:focus {
	border: none;
}

.option-description {
	grid-column: 1 / span 12;
	display: inline-grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-column-gap: 8px;
}

.smalldesc {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}

.expand-smalldesc {
	max-height: 50px;
}

.description-input {
	grid-column: 1 / span 11;
}

.description-input input {
	grid-column: 1 / span 10;
	margin-right: 0px;
	width: 98%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: var(--primary-text);
}

.remove-description {
	grid-column: 12 / span 1;
	margin: auto;
	margin-right: 0px;
}

.remove-description button {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('/ic_delete_grey.svg');
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
}

.mcq-option-area select {
	grid-column: 9 / span 3;
	border: none;
	appearance: none;
	padding: 8px;
	background-image: url('/ic_arrow_down_dropdown.svg');
	background-repeat: no-repeat;
	background-position-x: 94%;
	background-position-y: 4px;
	/* background-color: transparent; */
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: var(--primary-text);
	box-shadow: inset 0px 0px 0px 1px var(--grey-light);
	border-radius: 4px;
	height: 32px;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
}

.mcq-options-settings {
	text-align: center;
	grid-column: 12 / span 1;
	margin: auto;
	margin-right: 0px;
	background: var(--card-bg);
	width: 32px;
	height: 32px;
	transition: 0.5s;
	-webkit-transition: all 0.2s ease-in-out;
}

.mcq-options-settings:hover {
	background: var(--grey-light);
	border-radius: 4px;
	cursor: pointer;
}

/* .answer-type-dropdow select {
	border-radius: 4px;
	margin: auto;
	width: 100%;
	height: 32px;
} */

.button-add-options {
	margin-top: 8px;
	width: auto;
	height: 36px;
	/* Add options */
	font-family: Poppins-SemiBold;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height, or 120% */
	text-transform: uppercase;
	color: var(--blue);
	background-image: url('/ic_add_blue.svg');
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 2px;
	text-align: right;
	padding: 8px 12px 8px 36px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button-add-options:focus {
	outline: 0;
}

.dropbtn {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-image: url('/ic_threedots_normal.svg');
	background-color: transparent;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: var(--grey-light);
	border-radius: 4px;
	cursor: pointer;
	outline: 0;
}

.dropdown {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: auto;
	margin-right: 0px;
}

.dropdown-content {
	text-align: left;
	/* padding: 8px 0px 8px 0px; */
	display: none;
	position: absolute;
	background-color: var(--white);
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	z-index: 1;
	cursor: pointer;
	/* max-height: 0; */
	overflow: hidden;
	transition: all 0.3s ease;
}

.dropdown-content a {
	color: black;
	padding: 8px 0px 8px 16px;
	text-decoration: none;
	display: block;
	/* Add description */
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	/* identical to box height */
	color: var(--primary-text);
}

.dropdown-content :hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.closed {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}

.open {
	/* max-height: 50px; */
	max-height: fit-content;
	transition: all 0.3s ease;
	/* background-color: #fafafa; */
	padding: 18px;
	border-radius: 0px 0px 4px 4px;
	cursor: pointer;
}

.accordion {
	background: #fafafa;
	color: #051124;
	font-weight: 500;
	cursor: pointer;
	padding: 18px 24px;
	width: 100%;
	/* border: 1px solid #dcdcdc; */
	border-radius: 4px 4px 0px 0px;
	text-align: left;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
}

.dropdown-arrow {
	transition: all 0.4s ease;
	transform: rotateZ(0deg);
}

.rotate {
	transition: all 0.4s ease;
	transform: rotateZ(180deg);
}

.intro-container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	/* width: 80%;
	position: absolute;
	top: 20%;
	left: 20%; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.intro-content {
	display: grid;
	grid-column: 2 / 3;
	gap: 0.5rem;
	justify-self: center;
	/* width: 60%; */
	/*display: flex;
	flex-direction: column;
	justify-content: center; */
}

.intro-content > h1 {
	margin-bottom: 1rem;
}

.intro-content > p {
	margin-bottom: 1.5rem;
}

.link-section {
	padding: 1.5rem 1rem;
	background: #eaf0f9;
	border: 2px dashed #c9d6ea;
	border-radius: 4px;
}

.link-section h3 {
	margin-bottom: 1rem;
}

.copy-link {
	background: #2f80ed;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: 240px;
	height: 41px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0px 8px;
}

.link-card {
	background: var(--card-bg);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	padding: 40px;
	width: 70%;
}

.link-buttons-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 24px;
}

.link-copied-toast {
	background: #219653;
	padding: 1rem;
	position: fixed;
	top: 100%;
	left: 45%;
	z-index: 999;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	padding: 1rem;
	max-width: fit-content;
	transition-duration: 600ms;
}

/****************************************************************/
/*Loading spinner*/

/* .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -6 0px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
} */

/* @keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */

/****************************************************************/
/* Skeleton screen */
.skeleton-a7x7cwtgk4i:empty {
	box-sizing: content-box;
	height: 158px;
	width: 284px;
	background-color: #fff;
	border-radius: 0px 0px 0px 0px;
	background-image: linear-gradient(
		100deg,
		rgba(255, 255, 255, 0),
		rgba(230, 230, 230, 0.5) 50%,
		rgba(255, 255, 255, 0) 80%
	);
	/* linear-gradient(#e0e0e0 0px, transparent 0); */
	background-repeat: repeat-y;
	background-size: 50px 290px, 360px 290px;
	/* background-position: 0 0, 20px 20px; */
	background-position: -50px;
	animation: shineForSkeleton-a7x7cwtgk4i 1.2s infinite;
	/* animation-delay: 2s; */
}

.addQuestion-skeleton {
	box-sizing: content-box;
	background-image: linear-gradient(
		100deg,
		rgba(255, 255, 255, 0),
		rgba(230, 230, 230, 0.5) 50%,
		rgba(255, 255, 255, 0) 80%
	);
	background-repeat: repeat-y;
	background-size: 50px 290px, 360px 290px;
	animation: shineForSkeleton-a7x7cwtgk4i 1.2s infinite;
}
@keyframes shineForSkeleton-a7x7cwtgk4i {
	/* to {
			background-position: 100% 0, 20px 20px;
		} */
	to {
		background-position: 150%;
	}
	/* from {
			left: 0%;
		}
		to {
			left: 100%;
		} */
}

/****************************************************************/

.intro-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: -33rem;
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.intro-text div h1 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 51px;
	color: #051124;
	padding-bottom: 1rem;
}

.intro-text span {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
}

.firebaseui-container {
	max-width: 100vw !important;
}

.firebaseui-idp-list {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.firebaseui-idp-list li {
	padding: 2rem 0.5rem;
	padding-top: 0;
	list-style-type: none;
}

.firebaseui-idp-list li button {
	width: 80rem;
	height: 3rem;
}

.firebaseui-idp-text {
	font-size: 16px !important;
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
	max-width: 30rem !important;
}

.card-background-change {
	background: var(--body);
	/* grid-column: 3 / span 8; */
	/* padding: 40px; */
	/* width: 70vw; */
}

.test-mcq-options-container {
	margin-top: 8px;
	word-wrap: break-word;
	/* max-width: 50vw; */
	/* display: grid; */

	/* grid-auto-flow: column; */
	/* grid-template-columns: repeat(12, [col-start] 1fr); */
}

.test-mcq-option-area {
	/* display: grid; */
	display: flex;
	/* grid-template-columns: repeat(12, [col-start] 1fr); */
	background-color: #fafafa;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 16px;
	/* margin-top: 8px; */
	/* height: fit-content; */
}

.test-mcq-option-area img {
	height: 16px;
	width: 16px;
	background-color: #fff;
	margin: 1rem;
}

.card-background-change label h2 {
	margin-bottom: 24px;
	overflow-wrap: break-word;
}

.test-container {
	/* display: flex; */
	display: grid;
	/* grid-template-columns: repeat(12, [col-start] 1fr); */
	/* grid-template-columns: 15vw 70vw 15vw; */
	grid-template-columns: 20vw 60vw 20vw;
	/* grid-column-gap: 16px; */
	/* grid-auto-columns: 20% 60% 20%; */
	/* gap: 16px; */
	/* width: 1200px; */
	margin: 0 auto;
	padding: 0px 8px;
}

.selected {
	background: #fafafa;
	border: 2px solid #2f80ed;
	box-sizing: border-box;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
}

.unselected {
	opacity: 0.5;
}

.name-dropbtn {
	color: black;
	background: #f7f7f7;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.name-dropbtn:focus {
	outline: none;
}

.name-dropdown-content {
	top: 3.5rem;
	z-index: 1;
	position: absolute;
	padding: 1rem 0.2rem;
	background-color: var(--white);
	/* min-width: 160px; */
	overflow: auto;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	/* border-radius: 4px; */
	z-index: 1;
	cursor: pointer;
	/* max-height: 0; */
	overflow: hidden;
	transition: all 0.3s ease;
	/* max-width: 50rem; */
	margin: 0;
	padding: 0;
}

.name-dropdown-content a {
	display: block;
	text-align: left;
	text-decoration: none;
	padding: 1rem;
}

.name-dropdown-content a:hover {
	background: var(--grey-light);
}

.name-dropdown-content a:nth-child(1) {
	padding-bottom: 1rem;
}

.hide {
	display: none !important;
}

.dropdown-container {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.navigation-container {
	/* display: grid; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* grid-template-columns: repeat(12, [col-start] 1fr); */
	/* grid-column-gap: 16px; */
	/* gap: 16px; */
	width: 1200px;
	margin: 0 auto;
	padding: 0px 8px;
	min-height: 4rem;
}

.navigation-menu-items {
	display: flex;
	align-items: center;
	/* position: relative; */
}

.navigationbar-dashboard {
	margin-right: 1rem;
}

.title-textarea {
	padding: 24px;
	margin: 0;
	overflow: hidden;
}

.title-textarea::placeholder {
	font-weight: 300;
}

.correct {
	/* background-color: #27ae60; */
	background: rgba(39, 174, 96, 0.1) !important;
}

.wrong {
	/* background-color: #eb5757; */
	background: rgba(235, 87, 87, 0.1) !important;
}

/* .neutral {
	background: rgba(187, 107, 217, 0.1) !important;
} */

/* option[value='wrong'] {
	background: rgba(235, 87, 87, 0.1) !important;
}

option[value='correct'] {
	background: rgba(39, 174, 96, 0.1) !important;
}

option[value='neutral'] {
	background: rgba(187, 107, 217, 0.1) !important;
} */

.buttons-left a {
	color: var(--primary-text);
	text-decoration: underline;
	cursor: pointer;
}

.option-dropdown-content {
	/* top: 3.5rem; */
	z-index: 1;
	position: relative;
	display: inline-block;
	padding: 1rem 0.2rem;
	background-color: var(--white);
	/* min-width: 160px; */
	/* overflow: auto; */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	/* border-radius: 4px; */
	cursor: pointer;
	/* max-height: 0; */
	/* overflow: hidden; */
	transition: all 0.3s ease;
	/* max-width: 50rem; */
	margin: 0;
	padding: 0;
}

.option-dropdown-content a {
	display: block;
	text-align: left;
	text-decoration: none;
	padding: 1rem;
}

.option-dropdown-content a:hover {
	background: var(--grey-light);
}

.option-dropbtn {
	grid-column: 9 / span 3;
	border: none;
	appearance: none;
	/* padding: 8px; */
	/* background-image: url('ic_arrow_down_dropdown.svg'); */
	/* background-repeat: no-repeat;
	background-position-x: 94%;
	background-position-y: 4px;*/
	background-color: transparent;
	/* background: none; */
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: var(--primary-text);
	/* box-shadow: inset 0px 0px 0px 1px var(--grey-light); */
	/* border-radius: 4px; */
	height: 32px;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0.5rem 1rem 0.5rem 2rem;
	text-align: left;

	/* color: white; */
	/* padding: 8px 24px;
	font-size: 16px;
	border: none;
	cursor: pointer; */
	/* background-color: transparent; */
}

.option-dropbtn:hover,
.option-dropbtn:focus {
	background-color: var(--grey-light);
	border-radius: 4px;
	cursor: pointer;
}

#myDropdown {
	width: 100%;
	margin: 5px 0 0 -14px;
	padding: 0;
}

.dropdown :nth-child(1) {
	display: flex;
}

.dropdown-wrapper {
	border-radius: 4px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.drodown-div {
	display: flex;
	justify-content: space-between;
}

.dropdown-div > div {
	font-size: 14px;
	margin-right: 1rem;
	white-space: nowrap;
}

.test-content {
	max-width: 90%;
	overflow-wrap: break-word;
	height: fit-content;
}

.selected h1 {
	font-weight: 600;
}

.unselected h1 {
	font-weight: 400;
}

button:focus {
	outline: 0;
}

.removed-option-toast {
	position: fixed;
	top: 100%;
	left: 45%;
	z-index: 999;
	background: #051124;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	padding: 1rem;
	max-width: fit-content;
	transition-duration: 600ms;
}

.up {
	transform: translateY(-200%);
}

.down {
	transform: translateY(200%);
}

.removed-option-toast span {
	text-decoration: underline;
	padding-left: 1rem;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 5rem;
	width: 1200px;
	margin: 0 auto;
	padding: 0px 8px;
}

.content {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}

.next-question-btn {
	display: flex;
	padding: 0.3rem 1rem;
	padding-right: 5px;
	/* background: #2f80ed; */
	background: #bdbdbd;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: fit-content;
	align-items: center;
	/* color: #fff; */
	color: #828282;
	font-weight: 600;
	cursor: pointer;
}

.next-question-btn-div {
	background: #828282;
	color: #4f4f4f;
	/* background: #166adb; */
	border-radius: 4px;
	padding: 0.3rem 1.2rem;
	/* color: #fff; */
	font-weight: 600;
	margin-left: 1rem;
}

.enabled {
	background: #2f80ed;
	color: #fff;
}

.enabled-div {
	background: #166adb;
	color: #fff;
}

.next-button-section {
	justify-self: end;
}

.add-white-color {
	background-color: #fff;
}

.mcq-option:focus {
	opacity: 1;
}

.testComplete-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	/* gap: 5rem; */
}

.testComplete-content {
	grid-column: 2 / 3;
	display: grid;
	gap: 1.5rem;
}

.submit-response-button {
	background: #219653;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 12px 24px;
	border: 0;
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
	width: fit-content;
}

.testComplete-content > h1 {
	font-style: normal;
	font-family: Poppins;
	font-weight: 600;
	font-size: 32px;
	line-height: 51px;
	color: #051124;
}

.firebaseui-card-content {
	padding: 0 !important;
	margin-left: -8px;
}

.main-content {
	background-color: #fafafa;
}

.marquee {
	font-family: Poppins;
	font-weight: 400;
	line-height: 29px;
	font-size: 18px;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-flex;
}

.marquee span {
	/* display: flex; */
	/* flex-basis: 100%; */
	animation: marquee-reset;
	animation: marquee 15s linear infinite;
}

@keyframes marquee {
	from {
		transform: translateX(15rem);
	}

	to {
		transform: translateX(-100%);
	}
}

/* @keyframes marquee {
	0% {
		transform: translate(0%, 0);
	}
	50% {
		transform: translate(-100%, 0);
	}
	50.001% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(0%, 0);
	}
}
@keyframes marquee-reset {
	0% {
		transform: translate(0%, 0);
	}
} */

.loader {
	position: fixed;
	top: 40vh;
	left: 48vw;
}

.gif-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gif-wrapper h1 {
	margin-top: 2rem;
	text-decoration: underline;
}

.user-card-container {
	background: var(--card-bg);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	padding: 16px;
	cursor: pointer;
	/* display: inline-grid; */
	/* grid-template-rows: 1fr 1fr; */
	display: flex;
	flex-direction: column;
	line-height: 29px;

	/* max-width: 150px; */
	margin-bottom: 1rem;
}

.user-card-container:hover {
	box-shadow: 0px 12px 20px rgba(8, 25, 53, 0.2);
}

.passlist-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.passlist-grid {
	width: 65vw;
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(9, 1fr);
	gap: 1rem;
	min-width: 80rem;
}

.passlist {
	/* display: grid; */
	row-gap: 1rem;
	overflow-y: auto;
	height: 60vh;
	box-sizing: border-box;
	align-content: flex-start;
	padding: 1rem 1rem;
}

/* .passlist-section1 {
	grid-column: 1 / 4;
}

.passlist-section2 {
	grid-column: 4 / 8;
}

.passlist-section3 {
	grid-column: 8 / 12;
} */

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

/* .passlist-section {
	grid-column: col-start 1 / span 4;
} */

.passlist-section > span {
	margin-left: 1rem;
	margin-bottom: 2rem;
	opacity: 0.54;
	font-size: 20px;
}

.passlist-section1 {
	grid-column: 1 / 4;
}

.passlist-section2 {
	grid-column: 4 / 7;
}

.passlist-section3 {
	grid-column: 7 / 10;
}

.passlist-head {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 65vw;
}

.user-card-name {
	font-weight: 600;
	font-size: 18px;
	overflow: hidden;
}

.user-card-email {
	opacity: 0.87;
	overflow: hidden;
}

.no-attempts {
	font-size: 18px;
	text-decoration: underline;
}

.passlist-common > span {
	margin-left: 1rem;
}
